@{
    ViewData["Title"] = "Error";
}

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

@section css {
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="@Url.Content("~/css/failstyle.css")" rel="stylesheet" type="text/css" />
}

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<div id="errorbox" class="shadow-box mb-4">
  <h1>Oops, something went wrong...</h1>
  <form role="form" action="/" method="GET">
    <button type="submit" class="btn btn-primary">Return to Infinterest</button>
  </form>
</div>